*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
}
/* head */
.logo{
    width:100%;
    /* height: 4rem; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_img{
    
    padding: 0.5rem;
    background-size: cover;
    /* border: 1px solid white; */

}
.logo_img img{
    /* border: 1px solid white; */
    height: 2.2rem;
    width: 12rem;
}
.head{
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* .house_logo{
    margin-left: 2rem;
    margin-right: 1rem  ;
    font-size: 1.5rem;
} */

.tags{
    margin-right: 3rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    flex-wrap: nowrap;
}
.tags a{
    font-size: 1.1rem;
    padding: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #FF6B00;
    
}
.tags a:hover{
    font-size: 1.2rem;
    font-weight: bolder;
    /* text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4); */
}
/* body */

.container{
    width: 100%;
    height: 44rem;
    /* border: 1px solid black; */
    background-image: url(Rectangle1.png);
    background-size: 100% 100%;
    animation: move 15s ease-in-out 1s infinite ;
}
    


@keyframes move{
    0%{
        background-image: url(Rectangle1.png);
        /* background-size: cover; */
    }
    20%{
        background-image: url(Rectangle2.png);
        /* background-size: cover; */
    }
    40%{
        background-image: url(Rectangle3.png);
        /* background-size: cover; */
    }
    60%{
        background-image: url(Rectangle4.png);
        /* background-size: cover; */
    }
    80%{
        background-image: url(Rectangle5.png);
        /* background-size: cover; */
    }
    100%{
        background-image: url(Rectangle1.png);
        /* background-size: cover; */
    }
    
}

/* middle1 */
.middle{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
    /* border: 1px solid black; */

}
.box{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.box1 a:hover{
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.541);
    border: 1.5px solid rgba(0, 0, 0, 0.18);
}


.box1 a{
    border: 1px solid black;
    width: 18rem;
    height: 20rem;
    margin: 1.6rem 1rem;
    padding: 1rem;
    

}
.box1 img{
    width: 18rem;
    height: 20rem;
}


/* middle2 */

.middle2{
    width: 100%;
    /* height: 100rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}
.container1{
    width: 90%;
    /* height: auto;     */
    padding: 0 1.5rem 0rem 0rem;
    text-align: center;
    border-radius: 2rem;
    background-color: #F2F2F2;
    margin-bottom: 5rem;
    
}
.name{  
    margin-top: 3rem;
    padding: 2rem;
    
}
.name h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    color: #37709D;
}
.name span{
    color: #FFD345;
}

.navbar{
    height: 95rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
   
}
.navbar a{
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.541);
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.topic{
    height: 4.2rem;
    width: 90%;
    border-radius: 0.2rem;
    background-color: white;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.341);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topic h3{
    margin-left: 50px;
    font-size: 2rem;
}
.topic i{
    margin-right: 40px ;
    font-size: 2rem;
}


/* Footer */
footer{
    margin-top: 3rem;
}

.foot{
    width: 100%;
    /* margin: 1rem; */
    background-color: #2F2F2F;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* border: 4px solid white; */
}
.foot1{
    /* border: 1px solid white; */
    width: 50%;
    margin: 2rem;
    margin-left: 4rem;
    padding: 1rem 0;
    
   

    
}
.logo_i{
    padding: 0.5rem;
    background-size: cover;
    

}
.logo_i img{
    
    width: 12rem;
}
.para{
    margin-top: 0.6rem;
    padding: 1.25rem;
    color: white;
    

}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
    margin: 2.5rem 0rem;
    

}
.contact p{
    color: white;
    font-size: 1.5rem;
    padding: 0rem;
    padding-bottom: 0.5rem;
    
}
.contact .link{
    height: auto;
    width: 13rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}



.foot2{
    margin: 2rem 8rem 2rem 5.5rem;
    /* margin-right: 8rem; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    /* border: 1px solid white; */
}

.foot2 h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin: 1.5rem;
    margin-left: 0;

}
.foot2 a{  
    font-size: 1.2rem;
    margin: 0.6rem 0;
    padding: 0.2rem;
    text-decoration: none;
    color: white;
    transition: 1s ease-in;
    position: relative;
}
.foot2 a:hover{
    
    color: #FF6B00;
}
footer p{
    text-align: center;
    padding: 20px;
}
